---
layout: default
title: my dyingDay - rock n roll from Copenhagen
---
{% assign dt_today = (site.time | date: '%Y-%m-%d') %}
{% assign albums = (site.data.albums | where: 'published','y') %}
{% assign covers = (albums | where: 'featured', 'y' | sort: 'feature_sort') %}
{% assign videos = (site.data.videos) %}
{% assign dates = (site.data.dates | sort: 'date' | reverse) %}
{% assign upcoming_dates = (site.data.dates | where: 'date', >dt_today | sort: 'date' | reverse) %}
{% assign members = (site.data.members) %}
{% assign recent_dates = (dates) %}
{% assign milestones = (site.data.timeline) %}

{% include top.html %}
{% include coverflow.html %}
{% include statusblock.html %}
{% include albums.html %}
{% include videos.html %}
{% include live.html %}
{% include band.html %}
{% include connect.html %}
{% include footer.html %}

<div class="modal fade" id="playerwin">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="playermodaltitle"></h4>
            </div>
            <div class="modal-body" id="playermodalbody"></div>
        </div>
    </div>
</div>
<div id="player">
</div>

