---
layout: default
title: my dyingDay - rock n roll from Copenhagen
---
{% assign dt_today = (site.time | date: '%Y-%m-%d') %}
{% assign albums = (site.data.albums | where: 'published','y') %}
{% assign covers = (albums | where: 'featured', 'y' | sort: 'feature_sort') %}
{% assign videos = (site.data.videos) %}
{% assign dates = (site.data.dates | sort: 'date' | reverse) %}
{% assign upcoming_dates = (site.data.dates | where: 'date', >dt_today | sort: 'date' | reverse) %}
{% assign members = (site.data.members) %}
{% assign recent_dates = (dates) %}
{% assign milestones = (site.data.timeline) %}


<span id="home"></span>


<!-- TOP NAVIGATION / LOGO -->
<div class="navbar-wrapper " id="header">
    <div
        class="
            navbar
            navbar-inverse"
        role="navigation"
        style="margin-bottom:0;"
        >

        <div class="container">
            <div class="navbar-header">
                <button
                    type="button"
                    class="navbar-toggle"
                    data-toggle="collapse"
                    data-target=".navbar-collapse"
                    >
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" id="toplogo" href="#home">my dyingDay</a>
            </div>

            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav" id="site-nav">

                    <li>
                        <a href="#music" onclick="_gaq.push(['_trackPageview' ,'/music/']);">
                            <span class="glyphicon glyphicon-play"></span> Music
                        </a>
                    </li>
                    <li>
                        <a href="#media" onclick="_gaq.push(['_trackPageview' ,'/media/']);">
                            <span class="glyphicon glyphicon-film"></span> Video
                        </a>
                    </li>
                    <li>
                        <a href="#live" onclick="_gaq.push(['_trackPageview' ,'/live/']);">
                            <span class="glyphicon glyphicon-road"></span> Live
                        </a>
                    </li>
                    <li>
                        <a href="#band" onclick="_gaq.push(['_trackPageview' ,'/band/']);">
                            <span class="glyphicon glyphicon-camera"></span> About
                        </a>
                    </li>
                    <li>
                        <a href="#connect" onclick="_gaq.push(['_trackPageview' ,'/connect/']);">
                            <span class="glyphicon glyphicon-heart"></span> Connect
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<!-- COVERFLOW -->
<div class="coverwrap">

    <!-- WELCOME -->
    <div id="headercontent">
        <div class="container xpanel" style="text-align:center; ">
            <h1>
                <span class="hidden-xs">
                    Hello World! We are my dyingDay!
                </span>
                <span class="hidden-md hidden-lg hidden-sm">
                    Hi! We are my dyingDay!
                </span>
            </h1>
            <h2 class="intro">
                - a 99.9% D.I.Y. rock band from Copenhagen, Denmark.
            </h2>
        </div>
    </div>

    <!-- COVER FLOW -->
    {% if covers.size == 0 %}
        No cover!
    {% endif %}

    <div class="wrapper">
        <div id="coverflow">
            {% for cover in covers limit:3 %}
                <a href="#{{ cover.slug }}"><img id="cf-{{ cover.feature_sort }}" src="{{ cover.cover }}" data-artist="{{ cover.artist }}" data-album="{{ cover.title }}" /></a>
            {% endfor %}
        </div>
    </div>
</div>


<!-- STATUS -->
<div id="statusblock">
    <div class="container">
        <h4>
            <span class="text-muted">
                Current Status:
                We are currently recording new material ...
            </span>
        </h4>
    </div>
</div>
<div id="twitterstatuscarousel">
    <div id="twitter-feed"></div>
    <div class="container">
    </div>
</div>


<!-- ALBUMS -->
{% if albums.size > 0 %}
<div id="music" class="xpanel">
    <div class="container">
        <h2 class="headline border-bot">
            <span class="glyphicon glyphicon-play"></span>
            Music <small>by my dyingDay</small>
        </h2>

        {% for album in albums %}

            <div class="row album" id="{{ album.slug }}">
                <div class="col-xs-3">
                    <div class="coverwrapper">
                        <a
                            href="javascript:;"
                            onclick="OpenAlbum('{{ album.slug }}','01');"
                        >
                            <img
                                src="{{ album.cover }}"
                                data-artist="{{ album.artist }}"
                                data-album="{{ album.title }}"
                                width="100%"
                            />
                        </a>
                    </div>
                </div>
                <div class="col-xs-9">
                    <h3>
                        {{ album.title }}

                        <small>
                            {{ album.year }} {{ album.format }}
                        </small>

                    </h3>

                    <!-- TRACKS -->
                    <table class="table table-hover">
                        <tbody>
                            {% for track in album.tracks %}
                            <tr>
                                <td>
                                    <a
                                        href="javascript:;"
                                        onclick="OpenAlbum('{{ album.slug }}','{{ track.number }}')"
                                    >
                                        <small class="hidden-mob text-muted">
                                            {{ track.number }}
                                        </small>
                                        <span class="glyphicon glyphicon-play"></span>
                                        {{ track.title }}
                                    </a>
                                </td>

                                <td
                                    align="right"
                                    style="text-align:right;"
                                    class="hidden-mob"
                                >
                                    <small>{{ track.duration }}</small>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <div class="albumavailablity">

                        <small class="text-muted">Available at:</small>

                        {% if album.itunes %}
                            <a
                                href="{{ album.itunes }}"
                                target="_blank">

                                <img src="/img/badge_itunes-lrg.png" alt="Get {{ album.title }} on iTunes">

                            </a>
                        {% endif %}


                        {% if album.spotify %}
                            <a
                                href="{{ album.spotify }}"
                                target="_blank">

                                <img
                                    src="/img/badge_spotify-lrg.png"
                                    alt="Stream {{ album.title }} on Spotify">

                            </a>
                        {% endif %}

                        {% if album.reverb %}
                            <a
                                href="{{ album.reverb }}"
                                target="_blank">

                                <img
                                    src="/img/badge_reverb-lrg.png"
                                    alt="Stream {{ album.title }} on Reverb Nation">

                            </a>
                        {% endif %}

                        {% if album.bandcamp %}
                            <a
                                href="{{ album.bandcamp }}"
                                target="_blank">

                                <img
                                    src="/img/badge_bandcamp-lrg.png"
                                    alt="Stream {{ album.title }} on Bandcamp">

                            </a>
                        {% endif %}

                        {% if album.soundcloud %}
                            <a
                                href="{{ album.soundcloud }}"
                                target="_blank">

                                <img
                                    src="/img/badge_soundcloud-lrg.png"
                                    alt="Stream {{ album.title }} on Sound Cloud">

                            </a>
                        {% endif %}

                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
</div>
{% endif %}


<!-- VIDEOS -->
{% if videos.size > 0 %}
<div id="media" class="xpanel">
    <div class="container">
        <h2 class="headline">
            <span class="glyphicon glyphicon-film"></span>
            Videos <small>by my dyingDay</small>
        </h2>
        <blockquote>
            <h3>
                Here are some of our videos. We publish on <a href="http://www.youtube.com/mydyingdayrocks" target="_blank" style="color:#FFF">YouTube - subscribe to our channel</a>!
            </h3>
        </blockquote>


        <ul class="mediastream" id="videomediastreamlist">

            {% for video in videos %}
            <li>
                <div class="mediaitem">
                    <a href="#videomediastreamlist" onclick="playVideo('{{ video.video_id }}', '{{ video.title }} {{ video.subtitle }}')">

                        <img src="{{ video.image }}" alt="{{ video.title }} {{ video.subtitle }}" title="{{ video.title }} {{ video.subtitle }}" />

                        <span class="playbutton"><span class="glyphicon glyphicon-expand"></span></span>

                        <span class="medialabel">
                            {{ video.title }}
                            <small>{{ video.subtitle }}</small>
                        </span>

                    </a>
                </div>
            </li>
            {% endfor %}

        </ul>
        <div class="clearfix"></div>
    </div>
    <div id="videoplayer"></div>
</div>
{% endif %}


<!-- LIVE -->
{% if dates.size > 0 %}
<div id="live" class="xpanel">
    <div class="container">
        <h2 class="headline no-border">
            <span class="glyphicon glyphicon-road"></span>
            LIVE <small>- schedule for my dyingDay</small>
        </h2>
        <!--
        <p class="liveintro">
            <span class="glyphicon glyphicon-info-sign"></span>
            We are currently working on new material!
        </p>
        -->



        <!-- <h4>2014</h4> -->
        {% if upcoming_dates.size > 0 %}

        <table class="table table-hover liveschedule">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Event</th>
                    <th>Venue</th>
                    <th>Location</th>
                    <th>Info</th>
                </tr>
            </thead>
            <tbody>
                {% for show in upcoming_dates %}
                <tr>
                    <td>{{ show.date | date_to_string }}</td>
                    <td><strong>{{ show.title }}</strong> {{ show.subtitle }}</td>
                    <td>{{ show.venue }}</td>
                    <td><small class="text-muted">{{ show.city }} ({{ show.country }})</small></td>
                    <td>
                        {% if show.facebook %}
                            <a href="{{ show.facebook }}" target="_blank">
                                Facebook Event
                            </a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td>June 06</td>
                    <td><strong>my dyingDay</strong> + Superdirt</td>
                    <td>D&aelig;monens Port</td>
                    <td><small class="text-muted">Copenhagen (DK)</small></td>
                    <td><a href="https://www.facebook.com/events/301675826656673/" target="_blank">Facebook Event</a></td>
                </tr>
                <tr>
                    <td>T.B.A.</td>
                    <td><strong>Album Release Party</strong></td>
                    <td>High Voltage</td>
                    <td><small class="text-muted">Copenhagen (DK)</small></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="5">&nbsp;</td>
                </tr>
            </tbody>
        </table>
        <p class="livepast">
            We also recently appeared at
            {% for venue in recent_dates limit:3 %}
            {{ venue.venue }},
            {% endfor %}

            &amp; other fine venues.

        </p>
        {% else %}

        <p class="liveintro">
            <span class="glyphicon glyphicon-info-sign"></span>
            No confirmed shows at the moment.
        </p>

        <p class="livepast">
            We recently appeared at
            {% for venue in recent_dates limit:3 %}
            {{ venue.venue }},
            {% endfor %}

            &amp; other fine venues.

        </p>

        {% endif %}
    </div>
</div>
{% endif %}

<!-- THE BAND -->
<div id="band" class="xpanel">
    <div class="container">
        <h2 class="headline">
            <span class="glyphicon glyphicon-camera"></span>
            The Band
            <small>- About my dyingDay</small>
        </h2>
    </div>
    <div style="background-color:rgba(255, 255, 255, 0.1); margin-top:10px;padding-bottom:20px;margin-bottom:20px;">
        <div class="container">
            <ul class="lineup">
                {% for member in members %}
                <li>
                    <img src="{{ member.image }}" class="img-circle" />
                    <h3 class="membername bigtype">{{ member.name }}</h3>
                    <span class="memberrole">{{ member.instrument }}</span>
                    <div class="clearfix"></div>
                </li>
                {% endfor %}
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h3 class="bigtype">
                    We are: my dyingDay!
                </h3>
                <p>
                    We blend old-school heavy rock with electronica using wooden guitars, accoustic drums, home-build pedal-boards and new technology.
                </p>

                <br>
                <h4 class="bigtype">
                    Where?
                </h4>
                <p>
                    We are located in Copenhagen, Denmark.
                </p>
                <br>
                <h4 class="bigtype">
                    Influences:
                </h4>
                <p>
                    We are influenced by Black Sabbath, Nine Inch Nails, Foo Fighters, Ministry, Mustasch &amp; other fine artists.
                </p>
                <br>

                <h4 class="bigtype">
                    We sound like ...
                </h4>
                <p>
                    ... Well, go listen to our music ;)
                </p>
            </div>
            <br>
            <div class="col-sm-4">
                <h3>Mile Stones</h3>
                <ul class="milestonelist">
                    {% for milestone in milestones %}
                    <li>
                        <small class="bigtype">{{ milestone.year }}: </small>
                        {{ milestone.title }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>


<!-- CONNECT -->
<div id="connect" class="xpanel">
    <div class="container">
        <h2 class="headline"><span class="glyphicon glyphicon-heart"></span> Connect <small>with my dyingDay</small></h2>
        <h3 class="bigtype" style="text-align:center;line-height:200%;">Fans &amp; Music Lovers<br> Connect with my dyingDay here:</h3>
        <br>
    </div>
    <div style="background-color:rgba(0, 0, 0, 0.5); padding-bottom:20px;padding-top:20px;margin-bottom:20px;">
        <div class="container">
            <div class="row">
                <div class="col-sm-2" style="text-align:center;">
                    <a href="http://www.facebook.com/mydyingdaymusic" target="_blank"><img class="xsocial-icon" src="/img/icons/facebook.png" alt="my dyingDay on Facebook" title="my dyingDay on Facebook"></a>
                </div>
                <div class="col-sm-2" style="text-align:center;">
                    <a href="http://twitter.com/mydyingDayRocks" target="_blank"><img class="xsocial-icon" src="/img/icons/twitter.png" alt="my dyingDay on Twitter" title="my dyingDay on Twitter"></a>
                </div>
                <div class="col-sm-2" style="text-align:center;">
                    <a href="http://www.reverbnation.com/mydyingday" target="_blank"><img class="xsocial-icon" src="/img/icons/reverb.png" alt="my dyingDay on Reverb Nation" title="my dyingDay on Reverb Nation"></a>
                </div>
                <div class="col-sm-2" style="text-align:center;">
                    <a href="http://instagram.com/mydyingday" target="_blank"><img class="xsocial-icon" src="/img/icons/instagram.png" alt="my dyingDay on Instagram" title="my dyingDay on Instagram"></a>
                </div>
                <div class="col-sm-2" style="text-align:center;">
                    <a href="https://itunes.apple.com/dk/artist/my-dyingday/id787102568" target="_blank"><img class="xsocial-icon" src="/img/icons/itunes.png" alt="my dyingDay on iTunes" title="my dyingDay on iTunes"></a>
                </div>
                <div class="col-sm-2" style="text-align:center;">
                    <a href="https://play.spotify.com/artist/1mtFhpkRzcG9bhIVPTXMbd" target="_blank"><img class="xsocial-icon" src="/img/icons/spotify.png" alt="my dyingDay on Spotify" title="my dyingDay on Spotify"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <br>
        <br>
        <h3>Radio Stations, Press &amp; Media - get your free samples!</h3>
        <p>
            We are happy to provide you with free samples for air-play on your radio-show, or for review in your awesome magazine! Just send us an e-mail with your name, your station / magazine name and other info, and we'll get back to you in snap! You can reach us at <a href="mailto:{{ site.email }}">{{ site.email }}</a>.
            <br>
            <br>
        </p>
        <h3>Booking &amp; Management</h3>
        <p>If you wish to hire us for a show, a festival or a TV-performance, please send us an e-mail and we'll get back to you in a snap. You can reach us at <a href="mailto:{{ site.email }}">{{ site.email }}</a>.
        </p>
    </div>
</div>
<br>
<br>


<footer>
    <div class="container">
        <p class="pull-right"><a href="#home">Top</a></p>
        <p>
            &copy; {{ site.time | date: '%Y' }} my dyingDay &middot; Coded on crack in Copenhagen, Denmark
        </p>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</footer>
<div class="modal fade" id="playerwin">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="playermodaltitle"></h4>
            </div>
            <div class="modal-body" id="playermodalbody"></div>
        </div>
    </div>
</div>
<div id="player">
</div>

