<!-- ALBUMS -->
{% if albums.size > 0 %}
<div id="music" class="xpanel">
    <div class="container">
        <h2 class="headline border-bot">
            <span class="glyphicon glyphicon-play"></span>
            Music <small>by my dyingDay</small>
        </h2>

        {% for album in albums %}

            <div class="row album" id="{{ album.slug }}">
                <div class="col-xs-4 col-md-5 col-md-offset-1">
                    <div class="coverwrapper">
                        <a
                            href="javascript:;"

                            onclick="OpenAlbum('{{ album.slug }}','01');console.log('TODO: Use class + data attr instead');"

                            class="album_link"

                            data-artist="{{ album.artist }}"
                            data-album="{{ album.title }}"
                            data-slug="{{ album.slug }}"
                        >
                            <img
                                src="{{ album.cover }}"
                                alt="{{ album.title }}"
                                width="100%"
                            />
                        </a>
                    </div>
                </div>
                <div class="col-xs-8 col-md-5 ">
                    <h3>
                        {{ album.title }}

                        <small>
                            {{ album.year }} {{ album.format }}
                        </small>

                    </h3>

                    <!-- TRACKS -->
                    <table class="table table-hover">
                        <tbody>
                            {% for track in album.tracks %}
                            <tr>
                                <td>
                                    <a
                                        href="javascript:;"

                                        onclick="OpenAlbum('{{ album.slug }}','{{ track.number }}');console.log('TODO: Use class + data attr instead');"

                                        class="track_link"

                                        data-artist="{{ album.artist }}"
                                        data-album="{{ album.title }}"
                                        data-slug="{{ album.slug }}"
                                        data-track="{{ track.number }}"
                                    >
                                        <small class="hidden-mob text-muted">
                                            {{ track.number }}
                                        </small>
                                        <span class="glyphicon glyphicon-play"></span>
                                        {{ track.title }}
                                    </a>
                                </td>

                                <td
                                    align="right"
                                    style="text-align:right;"
                                    class="hidden-mob"
                                >
                                    <small>{{ track.duration }}</small>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <div class="albumavailablity">

                        <small class="text-muted">Available at:</small>

                        {% include album_link_badges.html %}

                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
</div>
{% endif %}
