<!-- ALBUMS -->
{% if albums.size > 0 %}
<div id="music" class="xpanel">
    <div class="container">
        <h2 class="headline border-bot">
            <span class="glyphicon glyphicon-play"></span>
            Music <small>by my dyingDay</small>
        </h2>

        {% for album in albums %}

            <div class="row album" id="{{ album.slug }}">
                <div class="col-xs-4 col-md-5 col-md-offset-1">
                    <div class="coverwrapper">
                        <a
                            href="javascript:;"
                            onclick="OpenAlbum('{{ album.slug }}','01');"
                        >
                            <img
                                src="{{ album.cover }}"
                                data-artist="{{ album.artist }}"
                                data-album="{{ album.title }}"
                                width="100%"
                            />
                        </a>
                    </div>
                </div>
                <div class="col-xs-8 col-md-5 ">
                    <h3>
                        {{ album.title }}

                        <small>
                            {{ album.year }} {{ album.format }}
                        </small>

                    </h3>

                    <!-- TRACKS -->
                    <table class="table table-hover">
                        <tbody>
                            {% for track in album.tracks %}
                            <tr>
                                <td>
                                    <a
                                        href="javascript:;"
                                        onclick="OpenAlbum('{{ album.slug }}','{{ track.number }}')"
                                    >
                                        <small class="hidden-mob text-muted">
                                            {{ track.number }}
                                        </small>
                                        <span class="glyphicon glyphicon-play"></span>
                                        {{ track.title }}
                                    </a>
                                </td>

                                <td
                                    align="right"
                                    style="text-align:right;"
                                    class="hidden-mob"
                                >
                                    <small>{{ track.duration }}</small>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <div class="albumavailablity">

                        <small class="text-muted">Available at:</small>

                        {% if album.itunes %}
                            <a
                                href="{{ album.itunes }}"
                                target="_blank">

                                <img src="/img/badge_itunes-lrg.png" alt="Get {{ album.title }} on iTunes">

                            </a>
                        {% endif %}


                        {% if album.spotify %}
                            <a
                                href="{{ album.spotify }}"
                                target="_blank">

                                <img
                                    src="/img/badge_spotify-lrg.png"
                                    alt="Stream {{ album.title }} on Spotify">

                            </a>
                        {% endif %}

                        {% if album.reverb %}
                            <a
                                href="{{ album.reverb }}"
                                target="_blank">

                                <img
                                    src="/img/badge_reverb-lrg.png"
                                    alt="Stream {{ album.title }} on Reverb Nation">

                            </a>
                        {% endif %}

                        {% if album.bandcamp %}
                            <a
                                href="{{ album.bandcamp }}"
                                target="_blank">

                                <img
                                    src="/img/badge_bandcamp-lrg.png"
                                    alt="Stream {{ album.title }} on Bandcamp">

                            </a>
                        {% endif %}

                        {% if album.soundcloud %}
                            <a
                                href="{{ album.soundcloud }}"
                                target="_blank">

                                <img
                                    src="/img/badge_soundcloud-lrg.png"
                                    alt="Stream {{ album.title }} on Sound Cloud">

                            </a>
                        {% endif %}

                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
</div>
{% endif %}