<!-- CONNECT -->
{% assign links = (site.data.social) %}
<div id="connect" class="xpanel">
    <div class="container">
        <h2 class="headline">
            <span class="glyphicon glyphicon-heart"></span>
            Connect
            <small>with {{ site.name }}</small>
        </h2>
        <h3 class="bigtype" style="text-align:center;line-height:200%;">
            Fans &amp; Music Lovers<br>
            Connect with {{ site.name }} here:
        </h3>

        <br>

    </div>

    <div style="
                background-color:rgba(0, 0, 0, 0.5);
                padding-bottom:20px;
                padding-top:20px;
                margin-bottom:20px;
        ">
        <div class="container">
            <div class="row">
                {% for link in links %}
                <div class="col-sm-2" style="text-align:center;">
                    <a
                        href="{{ link.link }}"
                        target="_blank"
                        >
                        <img
                            class="xsocial-icon"
                            src="{{ link.image }}"
                            alt="{{ site.name }} on {{ link.name }}"
                            title="{{ site.name }} on {{ link.name }}"
                        >
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container">

        <br>
        <br>

        <h3>Radio Stations, Press &amp; Media - get your free samples!</h3>
        <p>
            We are happy to provide you with free samples for air-play on your radio-show, or for review in your awesome magazine! Just send us an e-mail with your name, your station / magazine name and other info, and we'll get back to you in snap! You can reach us at <a href="mailto:{{ site.email }}">{{ site.email }}</a>.
        </p>

        <br>
        <br>

        <h3>Booking &amp; Management</h3>
        <p>
            If you wish to hire us for a show, a festival or a TV-performance, please send us an e-mail and we'll get back to you in a snap. You can reach us at <a href="mailto:{{ site.email }}">{{ site.email }}</a>.
        </p>
    </div>
</div>
