<!-- CONNECT -->
<div id="connect" class="xpanel">
    <div class="container">
        <h2 class="headline">
            <span class="glyphicon glyphicon-heart"></span>
            Connect
            <small>with my dyingDay</small>
        </h2>
        <h3 class="bigtype" style="text-align:center;line-height:200%;">
            Fans &amp; Music Lovers<br>
            Connect with my dyingDay here:
        </h3>

        <br>

    </div>

    <div style="
                background-color:rgba(0, 0, 0, 0.5);
                padding-bottom:20px;
                padding-top:20px;
                margin-bottom:20px;
        ">
        <div class="container">
            <div class="row">
                <div class="col-sm-2" style="text-align:center;">
                    <a
                        href="http://www.facebook.com/mydyingdaymusic"
                        target="_blank"
                        >
                        <img
                            class="xsocial-icon"
                            src="/img/icons/facebook.png"
                            alt="my dyingDay on Facebook"
                            title="my dyingDay on Facebook"
                        >
                    </a>
                </div>
                <div class="col-sm-2" style="text-align:center;">
                    <a href="http://twitter.com/mydyingDayRocks" target="_blank"><img class="xsocial-icon" src="/img/icons/twitter.png" alt="my dyingDay on Twitter" title="my dyingDay on Twitter"></a>
                </div>
                <div class="col-sm-2" style="text-align:center;">
                    <a href="http://www.reverbnation.com/mydyingday" target="_blank"><img class="xsocial-icon" src="/img/icons/reverb.png" alt="my dyingDay on Reverb Nation" title="my dyingDay on Reverb Nation"></a>
                </div>
                <div class="col-sm-2" style="text-align:center;">
                    <a href="http://instagram.com/mydyingday" target="_blank"><img class="xsocial-icon" src="/img/icons/instagram.png" alt="my dyingDay on Instagram" title="my dyingDay on Instagram"></a>
                </div>
                <div class="col-sm-2" style="text-align:center;">
                    <a href="https://itunes.apple.com/dk/artist/my-dyingday/id787102568" target="_blank"><img class="xsocial-icon" src="/img/icons/itunes.png" alt="my dyingDay on iTunes" title="my dyingDay on iTunes"></a>
                </div>
                <div class="col-sm-2" style="text-align:center;">
                    <a href="https://play.spotify.com/artist/1mtFhpkRzcG9bhIVPTXMbd" target="_blank"><img class="xsocial-icon" src="/img/icons/spotify.png" alt="my dyingDay on Spotify" title="my dyingDay on Spotify"></a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <br>
        <br>

        <h3>Radio Stations, Press &amp; Media - get your free samples!</h3>
        <p>
            We are happy to provide you with free samples for air-play on your radio-show, or for review in your awesome magazine! Just send us an e-mail with your name, your station / magazine name and other info, and we'll get back to you in snap! You can reach us at <a href="mailto:{{ site.email }}">{{ site.email }}</a>.
        </p>

        <br>
        <br>

        <h3>Booking &amp; Management</h3>
        <p>
            If you wish to hire us for a show, a festival or a TV-performance, please send us an e-mail and we'll get back to you in a snap. You can reach us at <a href="mailto:{{ site.email }}">{{ site.email }}</a>.
        </p>
    </div>
</div>
