<span id="home"></span>

<!-- TOP NAVIGATION / LOGO -->
<div class="navbar-wrapper " id="header">
    <div
        class="
            navbar
            navbar-inverse"
        role="navigation"
        style="margin-bottom:0;"
        >

        <div class="container">
            <div class="navbar-header">
                <button
                    type="button"
                    class="navbar-toggle"
                    data-toggle="collapse"
                    data-target=".navbar-collapse"
                    >
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" id="toplogo" href="#home">my dyingDay</a>
            </div>

            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav" id="site-nav">

                    <li>
                        <a href="#music" onclick="_gaq.push(['_trackPageview' ,'/music/']);">
                            <span class="glyphicon glyphicon-play"></span> Music
                        </a>
                    </li>
                    <li>
                        <a href="#media" onclick="_gaq.push(['_trackPageview' ,'/media/']);">
                            <span class="glyphicon glyphicon-film"></span> Video
                        </a>
                    </li>
                    <li>
                        <a href="#live" onclick="_gaq.push(['_trackPageview' ,'/live/']);">
                            <span class="glyphicon glyphicon-road"></span> Live
                        </a>
                    </li>
                    <li>
                        <a href="#band" onclick="_gaq.push(['_trackPageview' ,'/band/']);">
                            <span class="glyphicon glyphicon-camera"></span> About
                        </a>
                    </li>
                    <li>
                        <a href="#connect" onclick="_gaq.push(['_trackPageview' ,'/connect/']);">
                            <span class="glyphicon glyphicon-heart"></span> Connect
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
