// Test

.bigtype {
    font-family: 'Rock Salt';
}

.table>tbody>tr:hover>td {
    background-color: rgba(0, 0, 0, 0.5);
}

.intro {
    /* background-color:rgba(0, 0, 0, 0.3); padding:20px;*/
    font-family: 'Unkempt', cursive;
    /* font-family: 'Indie Flower'; */
}

.table {
    background-color: rgba(0, 0, 0, 0.5);
}

small {
    color: #F1F1F1;
}

#site-nav {
    font-family: 'Rock Salt';
    font-size: 13px;
}

#toplogo {
    font-size: 13px;
    background-image: url(http://d23z6sds1eazhh.cloudfront.net/gfx/logos/top-xs.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 170px;
    text-indent: -999px;
}

.navbar-inverse {
    background-color: rgba(0, 0, 0, 0.9);
    border-bottom: 1px solid #666;
}

#headercontent {
    text-shadow: 2px 1px 3px #000000;
    /* background-size: cover;

  background-size:100%; */
    padding-bottom: 20px;
    color: #FFF;
}

.mediaitem {
    width: 97%;
    /*  overflow: hidden; */
}

.mediaitem a {
    color: #FFF;
}

.mediaitem .medialabel {
    display: none;
    position: absolute;
    margin-top: 0;
    padding: 5px;
    font-size: 15px;
    width: 97%;
    background-color: rgba(0, 0, 0, 0.8);
}

.mediaitem:hover .medialabel {
    display: block
}

.playbutton {
    display: block;
    position: absolute;
    margin-top: 15%;
    font-size: 40px;
    width: 97%
}

.albumavailablity small {
    margin-bottom: 5px;
    display: block;
}

.albumavailablity img {
    margin-bottom: 5px;
}

#band .container {
    /* background-color:rgba(0, 0, 0, 0.5); */
}

#band {
    /* background-color:rgba(0, 0, 0, 0.5);

background-image: url(http://d23z6sds1eazhh.cloudfront.net/gfx/1561_10151407729099402_440298616_n.jpg); background-repeat: no-repeat; background-position: center top; background-color: #000; color: #FFF; */
}

#connect {
    border-top: 1px dashed #FFF;
}

footer {
    font-size: 11px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #CCC;
    padding-top: 20px;
}

#footrows {
    margin-bottom: 50px;
}

#header {
    width: 100%;
    z-index: 999;
}

#header .navbar {
    border-radius: 0px;
}


/* #header .navbar-inverse .navbar-nav>li>a{color:#FFF;}
#header .navbar-inverse .navbar-nav>li.active>a{color:#999;}
#header .navbar-inverse .navbar-nav>li>a:hover{color:#999;} */

.album {
    margin-top: 20px;
    padding-top: 20px;
    margin-bottom: 50px;
}

.album a {
    color: #FFF;
}

.album a:hover {
    color: #FFF;
}

div.wrapper {
    height: 400px;
    width: 680px;
    /*600*/
    padding: 0;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    /* background-image: url(http://d23z6sds1eazhh.cloudfront.net/gfx/logo-stripes-trans.png);
    background-position: center top;
    background-repeat: no-repeat; */
}

#statusblock {
    background: #000
}

#statusblock h4 {
    text-align: center
}

.popover {
    z-index: 9999;
    text-shadow: none;
    color: #000;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media(min-width:768px) {}

@media(min-width:992px) {}

@media(min-width:1200px) {
    div.wrapper {
        height: 620px;
        width: 1000px;
        /*600*/
        padding: 0;
        overflow: hidden;
        position: relative;
        margin: 0 auto;
        /* background-image: url(http://d23z6sds1eazhh.cloudfront.net/gfx/logo-stripes-trans.png);
    background-position: center top;
    background-repeat: no-repeat; */
    }
}

@media(max-width:767px) {

}

@media(max-width:480px) {
    .hidden-mob {
        display: none;
    }
    .carousel-caption > h2 {
        font-size: 20px;
    }

    div.wrapper {
        height: 200px;
        width: 350px;
        /*600*/
        padding: 0;
        overflow: hidden;
        position: relative;
        margin: 0 auto;
        /* background-image: url(http://d23z6sds1eazhh.cloudfront.net/gfx/logo-stripes-trans.png);
    background-position: center top;
    background-repeat: no-repeat; */
    }
}

@media screen and (min-width:768px) {}

@media(min-width:768px) and (max-width:991px) {}

@media(min-width:992px) and (max-width:1199px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}
