.tooltip.top .tooltip-arrow {
    border-top-color: #FF0;
    /* background-color: #FF0; */
}

.tooltip.left .tooltip-arrow {
    border-left-color: #FF0;
    /* background-color: #FF0; */
}

.tooltip-inner {
    background-color: #FF0;
    color: #000;
    text-shadow: none;
}
